[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = IQ Puzzler Pro CS319 Section 2
[access "refs/*"]
	owner = group user/AlpErturk
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/AlpErturk
	label-Verified = -1..+1 group user/AlpErturk
	push = group user/AlpErturk
	read = group user/AlpErturk
	rebase = group user/AlpErturk
	removeReviewer = group user/AlpErturk
	submit = group user/AlpErturk
[access "refs/heads/*"]
	create = group user/AlpErturk
	push = +force group user/AlpErturk
	pushMerge = group user/AlpErturk
	read = group user/AlpErturk
[access "refs/tags/*"]
	push = group user/AlpErturk
	push = +force group user/AlpErturk
